
            body { 
                color: #421; font-weight: bold; font-size: 18px; background: #D3D3D3; 
                background-image: url("https://res.cloudinary.com/benjee/image/upload/v1569248286/Group_ssy7oh.png"); background-repeat: no-repeat;background-size:50%; 
            }
            span { 
                color: #711; 
            } 
            ::-webkit-input-placeholder { 
                color: #711 
            }
            #main { 
                position: fixed; top: 40%; right: 60px; width: 400px; 
                border: 0px solid #421; padding: 40px; 
            }
            #main div { 
                margin: 10px; 
            } 
            #input { 
                border: 0; background: #F5F5F5; padding: 5px; border: 1px solid #000000; 
            }
            
            #bot-head{
                border-radius: 50%;
                width: 50px;
            }